# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db
*.ipch
.vs/OOP-Lab4/v16/.suo
*.log
*.ilk
*.pdb
*.tlog
Debug/OOP-Lab4.vcxproj.FileListAbsolute.txt
*.idb
